<Bembel>
	<AssetDirectories>
		<AssetDirectory directory="assets"/>
		<AssetDirectory directory="assets/shader"/>
	</AssetDirectories>
	<Display>
		<Window title="Chess">
			<DisplayMode mode = "Windowed">
				<Size width="800" height="600" />
			</DisplayMode>
			<Viewports>
				<Viewport relativ_position="0 0" relativ_size="1 1" />
			</Viewports>
		</Window>
	</Display>
	<Systems>
		<Graphics>
			<Renderer>
				<GeometryRenderer name="default" >
					<ShaderProgram file_name="default-geom-render.shader-program" />
				</GeometryRenderer>
			</Renderer>
			<RenderingPipelines>
				<RenderingPipeline horizontal_resolution="1024" vertical_resolution="720">
					<Textures>
						<Texture name="depth"    format="GL_DEPTH_COMPONENT24" target="GL_TEXTURE_2D"/>
						<Texture name="light"    format="GL_RGB16F"            target="GL_TEXTURE_2D"/>
						<Texture name="albedo"   format="GL_RGB8"              target="GL_TEXTURE_2D"/>
						<Texture name="material" format="GL_RGB8"              target="GL_TEXTURE_2D"/>
						<Texture name="normal"   format="GL_RGB16"             target="GL_TEXTURE_2D"/>
					</Textures>
					<RenderingStages>
						<DeferredGeometryStage>
							<DepthOutput texture="depth"/>
							<ColorOutput texture="light"    attachment="0"/>
							<ColorOutput texture="albedo"   attachment="1"/>
							<ColorOutput texture="material" attachment="2"/>
							<ColorOutput texture="normal"   attachment="3"/>
						</DeferredGeometryStage>
						<DeferredLightingStage>
							<DirectionalLightProgram file_name="dir-light.shader-program" />
							<PointLightShaderProgram file_name="point-light.shader-program" />
							<Output texture="light"/>
							<Input texture="depth" />
							<Input texture="albedo" />
							<Input texture="material" />
							<Input texture="normal" />
						</DeferredLightingStage>
						<EnvironmentMapReflectionStage>
							<EnvironmentMap
								left   = "assets/skybox/X-.png"
								right  = "assets/skybox/X+.png"
								bottom = "assets/skybox/Y-.png"
								top    = "assets/skybox/Y+.png"
								back   = "assets/skybox/Z+.png"
								front  = "assets/skybox/Z-.png"
							/>
							<Shader file_name="environment-map-reflections.shader-program" />
							<Output texture="light"/>
							<Input texture="depth" />
							<Input texture="albedo" />
							<Input texture="reflectivity" />
							<Input texture="normal" />
						</EnvironmentMapReflectionStage>
						<SelectionRenderingStage>
							<Shader file_name="selection.shader-program" />
							<ColorOutput texture="light"/>
							<DepthOutput texture="depth"/>
						</SelectionRenderingStage>
					</RenderingStages>
					<Views>	
						<View texture="light" window="0" viewport="0"       left="0.0" right="1.0" bottom="0.0" top="1.0"/>
					</Views>
					<Camera>
						<Position x="0" y="0" z="0" />
						<Projection fild_of_view="75" aspect_ration="1" near="0.1" far="100.0" />
					</Camera>
				</RenderingPipeline>
			</RenderingPipelines>
		</Graphics>
	</Systems>
</Bembel>
