<Bembel>
  <AssetDirectories>
    <AssetDirectory directory="../assets"/>
    <AssetDirectory directory="../assets/gui"/>
    <AssetDirectory directory="../assets/shader"/>
    <AssetDirectory directory="../assets/fonts"/>
  </AssetDirectories>
  <Display>
    <Window title="Font Converter" background_color="0.05 0.05 0.10">
      <DisplayMode mode="Windowed">
        <Size width="1200" height="900" />
        <AspectRatio numerator="4" denominator="3" />
      </DisplayMode>
	  <Viewports>
		<Viewport relativ_position="0.00 0" relativ_size="0.75 1" />
		<Viewport relativ_position="0.75 0" relativ_size="0.25 1" />
	  </Viewports>
    </Window>
  </Display>
  <Systems>
    <UserInterface>
      <!--<GUI name="main" config_file="GUI/main_gui.xml"/>-->
      <GUI name="main" window="0" viewport="1">
		<Renderer>
			<ShaderProgram file_name="gui.shader-program" />
			<GuiStyle file_name="dark_gui_style.xml" />
		</Renderer>
		<Widgets layout="linear" layout_alignment="center">
		  <LabeledButton size="180 42" name="Button_1" label="Button 1" outline="1"/>
		</Widgets>
	  </GUI>
    </UserInterface>
  </Systems>
</Bembel>
